block content
h1 Vista Nueva Tarea

form(method='post', action='/app')
  fieldset
    legend Añadir una tarea
    div.clearfix
      label Tarea
      div.input
        input(name='tarea[tarea]', class='xlarge')
    div.actions
      input(type='submit',value='Guardar',class='btn')
      button(type='reset',class='btn') Cancelar